server:
  port: 8080

spring:
  application:
    name: travelhub-api
  
  datasource:
    url: jdbc:h2:mem:travelhub
    driverClassName: org.h2.Driver
    username: sa
    password: password
    
  h2:
    console:
      enabled: true
      path: /h2-console
    
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true

logging:
  level:
    com.travelhub: DEBUG