spring:
  datasource:
    url: jdbc:h2:mem:testdb-test
    driverClassName: org.h2.Driver
    username: sa
    password: password
    
  jpa:
    hibernate:
    ddl-auto: create-drop
    show-sql: false
    
  h2:
    console:
    enabled: false

logging:
  level:
    com.travelhub: INFO
    org.springframework.web: INFO